* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --cor: #fff;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background-color:  #19151a;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10rem;
}

.lights {
  display: flex;
  margin-top: 6rem;
  gap: 5rem;
}

.circle {
  width: 10rem;
  height: 10rem;
  border: 1px solid;
  border-radius: 50%;
}

/* cores */
.red {
  --cor: #f82410;
  background-color: var(--cor);
  border-color: var(--cor);
  animation: brilha 0.4s infinite;
}
.yellow {
  --cor: #ccd600;
  background-color: var(--cor);
  border-color: var(--cor);
  animation: brilha 0.5s infinite;
}
.blue {
  --cor: #1e0bf7;
  background-color: var(--cor);
  border-color: var(--cor);
  animation: brilha 0.6s infinite;
}
.green {
  --cor:#2e7d54;
  background-color: var(--cor);
  border-color:var(--cor);
  animation: brilha 0.7s infinite;
}
.pink {
  --cor: #fb85fb;
  background-color: var(--cor);
  border-color: var(--cor);
  animation: brilha 0.8s infinite;
}


.circle.off{
  animation: none;
  box-shadow: none;  
}

h1{
  text-transform: uppercase;
  color: white;
}

/*botão*/
.button{
  display: flex;
  gap: 3rem;
}

button {
  background-color: #49819d;
  width: 8rem;
  height: 2rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
button:hover {
  color: red;
  background-color: transparent;
  border: 2px solid red;
}
.credit{

}

/* Animação */
@keyframes brilha{
  from {
    box-shadow: inset 18px 0px 29px 22px var(--cor);
  } to{
    box-shadow: 0px 0px 85px 20px var(--cor);
  }
}

